<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>Connect</title>
	</head>
	
	<body>
		<script type="text/javascript" src="js/main.js"></script>
		<div class="container">
			<input type="text" name="uri"  value="http://192.168.137.132:33455/web/srcimg/img_home_phone.png" placeholder="Enter Url here!" id="uri" /><button onclick="go()">Go</button>
			
			<script type="text/javascript">
				
				var viewer = document.getElementById("viewer");
				var uri = document.getElementById("uri");

			</script>
		</div>
	</body>
</html>